In [22]:
from sklearn import datasets
from sklearn.decomposition import PCA
import pandas as pd
from collections import Counter
from numpy import *
import sklearn
from sklearn import tree

In [23]:
dataset = pd.read_excel('real_estate.xlsx')

In [24]:
dataset.sample(frac = 1)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
392,393,2013.083333,42.7,443.80200,6,24.97927,121.53874,35.3
12,13,2012.916667,13.0,492.23130,5,24.96515,121.53737,39.3
75,76,2013.500000,12.3,1360.13900,1,24.95204,121.54842,29.5
0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
307,308,2012.833333,10.3,3079.89000,0,24.95460,121.56627,24.7
379,380,2013.333333,0.0,292.99780,6,24.97744,121.54458,69.7
33,34,2013.250000,16.5,323.65500,6,24.97841,121.54281,49.3
346,347,2013.416667,13.2,1712.63200,2,24.96412,121.51670,30.8
262,263,2012.916667,15.9,289.32480,5,24.98203,121.54348,53.0
173,174,2013.083333,41.3,401.88070,4,24.98326,121.54460,35.1
217,218,2012.916667,28.0,372.62420,6,24.97838,121.54119,40.8
401,402,2013.083333,7.6,2175.03000,3,24.96305,121.51254,27.7
137,138,2013.500000,13.6,319.07080,6,24.96495,121.54277,47.4
97,98,2013.083333,28.4,617.44240,3,24.97746,121.53299,34.6
156,157,2013.583333,30.7,1264.73000,0,24.94883,121.52954,18.3
313,314,2013.333333,8.3,104.81010,5,24.96674,121.54067,42.8
4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1
17,18,2012.750000,17.7,350.85150,1,24.97544,121.53119,37.4
152,153,2013.333333,12.0,1360.13900,1,24.95204,121.54842,28.9
166,167,2013.416667,0.0,292.99780,6,24.97744,121.54458,73.6
70,71,2013.583333,6.6,90.45606,9,24.97433,121.54310,59.0
229,230,2013.583333,31.0,1156.41200,0,24.94890,121.53095,19.0
350,351,2013.000000,13.2,492.23130,5,24.96515,121.53737,42.3
177,178,2013.083333,33.0,181.07660,9,24.97697,121.54262,42.0
413,414,2013.500000,6.5,90.45606,9,24.97433,121.54310,63.9
13,14,2012.666667,20.4,2469.64500,4,24.96108,121.51046,23.8
235,236,2012.750000,12.9,250.63100,7,24.96606,121.54297,39.3
339,340,2013.333333,1.7,329.97470,5,24.98254,121.54395,50.4
132,133,2013.166667,26.6,482.75810,5,24.97433,121.53863,37.5
174,175,2013.416667,4.3,432.03850,7,24.98050,121.53778,45.2
...,...,...,...,...,...,...,...,...
348,349,2012.833333,4.6,259.66070,6,24.97585,121.54516,53.7
183,184,2013.500000,17.0,4082.01500,0,24.94155,121.50381,18.8
343,344,2013.000000,33.5,563.28540,8,24.98223,121.53597,46.6
273,274,2013.416667,13.2,170.12890,1,24.97371,121.52984,29.3
239,240,2013.500000,18.1,837.72330,0,24.96334,121.54767,29.7
138,139,2013.166667,10.0,942.46640,0,24.97843,121.52406,43.5
6,7,2012.666667,34.5,623.47310,7,24.97933,121.53642,40.3
275,276,2012.666667,1.5,23.38284,7,24.96772,121.54102,49.7
35,36,2013.500000,13.9,4079.41800,0,25.01459,121.51816,27.3
290,291,2013.083333,37.7,490.34460,0,24.97217,121.53471,37.0
26,27,2012.666667,3.1,383.86240,5,24.98085,121.54391,56.2
258,259,2013.416667,0.0,292.99780,6,24.97744,121.54458,63.3
192,193,2013.166667,43.8,57.58945,7,24.96750,121.54069,42.7
361,362,2013.083333,41.4,281.20500,8,24.97345,121.54093,63.3
288,289,2013.583333,16.6,323.69120,6,24.97841,121.54280,51.0
323,324,2013.416667,28.6,197.13380,6,24.97631,121.54436,42.5
195,196,2013.333333,15.2,461.10160,5,24.95425,121.53990,34.6
317,318,2012.750000,15.6,752.76690,2,24.97795,121.53451,37.5
87,88,2013.583333,16.9,4066.58700,0,24.94297,121.50342,18.3
165,166,2012.916667,13.7,1236.56400,1,24.97694,121.55391,30.6
376,377,2013.416667,14.7,1717.19300,2,24.96447,121.51649,30.5
328,329,2012.833333,15.9,1497.71300,3,24.97003,121.51696,23.6
329,330,2013.000000,13.6,4197.34900,0,24.93885,121.50383,19.2
385,386,2013.000000,18.3,82.88643,10,24.98300,121.54026,46.6
274,275,2013.166667,27.5,394.01730,7,24.97305,121.53994,41.0
349,350,2012.750000,7.8,104.81010,5,24.96674,121.54067,47.0
382,383,2013.000000,16.3,3529.56400,0,24.93207,121.51597,29.3
94,95,2012.916667,40.9,167.59890,5,24.96630,121.54026,41.0
161,162,2013.416667,19.2,616.40040,3,24.97723,121.53767,39.6
48,49,2013.416667,24.2,4605.74900,0,24.94684,121.49578,13.4

In [5]:
def gini_cost(rows):
    headers = rows.columns
    last_col = headers[-1]
    row = rows[last_col]
    mean = 1.0*sum(row)/len(row)
    variance = 1.0*sum([(i-mean)**2 for i in row])/len(row)
    return variance

In [6]:
def info_gain(upper,lower,current): 
    len_upper = len(upper)
    len_lower = len(lower)
    
    p = len_lower*1.0/(len_lower+len_upper)
    cost = p*gini_cost(lower)+(1-p)*gini_cost(upper)
    return current-cost

In [7]:
def unique_values(row):
    l = []
    for i in row: 
        if i not in l: 
            l +=[i]
    return asarray(l)

In [8]:
def best_split(dataset):
    
    atlist = dataset.columns[:-1]
    atlist = [str(i) for i in atlist]
    
    last_col = dataset.columns[-1]
    current = gini_cost(dataset)
    best_gain = -1000
    best_attribute = 0
    best_cutoff = 0
    
    for attr in atlist:
        cutoff = unique_values(dataset[attr])
        
        for cut in cutoff:
            upper,lower = part(dataset,attr,cut)
            if(len(upper)<1 or len(lower)<1): 
                continue
                
            gain=info_gain(upper,lower,current)
            
            if(gain>=best_gain): 
                best_gain,best_attribute,best_cutoff = gain,attr,cut
            
    
    return best_gain,best_attribute,best_cutoff

In [25]:
class Decision: 
    def __init__(self,true,false,cutoff,attribute): 
        self.true = true
        self.false = false
        self.cutoff = cutoff
        self.attribute = attribute

In [26]:
def predict(dataset):
    last_col = dataset.columns[-1]
    return sum(dataset[last_col])/len(dataset[last_col])

In [27]:
class Output: 
    def __init__(self,dataset):
        self.prediction = predict(dataset)

In [28]:
def part(dataset,attr,cutoff):
    
    upper = dataset[dataset[attr]>cutoff]
    lower = dataset[dataset[attr]<=cutoff]
    return upper,lower

In [29]:
def build_tree(dataset): 
    
    best_gain, best_attr,best_cutoff = best_split(dataset)
    
    if(best_gain<=0):
        return Output(dataset)
    
    upper,lower = part(dataset,best_attr,best_cutoff)
    
    true_branch = build_tree(upper)
    
    false_branch = build_tree(lower)
    
    return Decision(true_branch,false_branch,best_cutoff,best_attr)

In [30]:
def comp(row,node):
    at = node.attribute
    
    if(row[at]>node.cutoff): 
        return True
    else:
        return False

In [31]:
def data_split(dataset):
    size = len(dataset)
    thresh = 8*size/10
    train = dataset[:thresh]
    test = dataset[thresh:]
    return train,test

In [32]:
def classify(row,node): 
    if isinstance(node,Output):
        return node.prediction
    else:
        result = comp(row,node)
        if(result):
            return classify(row,node.true)
        else: 
            return classify(row,node.false)

In [33]:
#Q2(a) Build Regression tree

train,test = data_split(dataset)
tree_train = build_tree(train)

In [34]:
#Q3 and Q4. Displaying the performance of regressor and comparing with scikit-learn.  

clf = sklearn.tree.DecisionTreeRegressor()

x_data = asarray(train.values.tolist())[:,1:-1]
y_data = asarray(train.values.tolist())[:,-1]

clf.fit(x_data,y_data)

train,test = data_split(dataset)

tree_train = build_tree(train)

last_col = dataset.columns[-1]

error = 0

scikit_error = 0

for index,row in test.iterrows():
    
    scikit_output = clf.predict([row[1:-1]])[0]
    
    predicted_output = classify(row,tree_train)
    
    actual_output = row[last_col]
    
    error+= (predicted_output-actual_output)**2
    scikit_error += (scikit_output-actual_output)**2

print("My model mean square error is", (1.0*error/(len(test)))**0.5)
print("the scikit learn mean square error is",(1.0*scikit_error/len(test))**0.5)

('My model mean square error is', 11.348164757946284)
('the scikit learn mean square error is', 10.639445530892072)

In [10]:
 =